body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;  
}

.container {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 50vh;
    width: 750px;
    padding-left: 40pxg;
}

.path {
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 60px;
    animation-name: food;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pacman {
    background-color: rgb(246, 201, 1);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 20%, 50% 50%, 100% 80%, 100% 100%);
    position: relative;
    z-index: 1;
    animation-name: eat;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes eat {
    0% {
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 20%, 50% 50%, 100% 80%, 100% 100%);
    }
    50% {
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 50%, 50% 50%, 100% 50%, 100% 100%);
    }
    100% {
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 20%, 50% 50%, 100% 80%, 100% 100%);
    }
  }

  @keyframes food {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-80px);
    }
}
